/*Header e Menu*/
*{
	list-style: none;
	scroll-behavior: smooth !important;
}

.h-menu{
	background-color: #000080;
	padding: 70px 100px;
}

.logo-home{
	position: absolute;
	top: 0;
	left: 0px;
	z-index: 2;
	height: 1;
	width: 20%;
	display: flex;
}

.menu-all{
	position: absolute;
	margin: auto;
	width: 562px;
	height: 50px;
	border-radius: 8px;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
	border: 1px solid;
	border-color: white;
}

.menu{
	position: absolute;
	margin: auto;
	width: 100%;
	height: 500px;
}

nav{
	background-color: #000080!important;
}

nav a{
	font-family: 'Nanum Myeongjo', serif;
	color: white;
	font-size: 20px;
	padding: 0px 0px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 50px;
}

nav a:hover{
	transition: .5s;
}

.linkmenu:hover{
	text-decoration: none;
}

/*foto Dottoressa*/
.rowDiv{
	display: flex;
}


.photo{	
	width: 50%;
}

#fotodoct{
	max-width: 100%;
	padding-left: 5px;
	transition: transform .5s;
	border-radius: 1rem;
}

#fotodoct:hover {
	transform: scale(1.02);
}

.titolo{
	font-family: 'Nanum Myeongjo', serif;
	font-size: 35px;
	color: #000080;
	font-weight: bolder;
	margin: 20px;
}

/*testo Mi presento*/
h2, h3{
	text-align: center;
}

p{
	text-align: center;
}

/*Bottoni*/
.bottoni{
	text-align: center;
}

.btn{
	font-family: 'Nanum Myeongjo', serif;
	font-size: 25px!important;
	color: #000080!important;
	font-weight: bolder!important;
}

.div-pres{
	width: 50%;
	padding: 0px;
}

.text{
	padding: 2%;
	font-size: 15px;
	text-align: center;
}

/*Colonne Servizi*/
.text-ser{
	color: black;
	font-size: 16px;
	padding: 2%;
}
.row{
	margin-bottom: 0 !important;
	margin-right: 0 !important;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  border-left: 2px solid #000080;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
  .h-menu{
  	width: 100%;
  }
}

.servizi{
	font-family: 'Nanum Myeongjo', serif;
	font-weight: bold;
	color: #000080;
	text-align: center;
}

}
/*Orari di apertura*/
.hours{
	position: relative;
	width: 50%;
	padding: 0px;
}

/*Posizione Google Maps*/
.google-map {
	position: absolute;
}

.google-map iframe {
    height: 100%;
    width: 100%;
}

.maps{
	display: flex;
}

/*Bottone messaggio Whatsapp*/
.Whatsapp{
	max-width: 100%;
	height: auto;
}

/*Footer*/
footer{
	background-color: #000080;
}

.contenitore {
	width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.f-abstract{
	color: white;
	opacity: 0.5;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 0;
}

.fa-brands {
	font-size: 2em;
	color: white;
    float:left;
	margin: 10px;
}

.fa-brands:hover {
	text-decoration: none;
	color: #e6e6fa;
}

/*Spazio*/
.space{
	margin: 50px;
}

/*Separatore*/
hr.solid {
	border-top: 5px solid #000080;
}
